.App {
  text-align: center;
}

/* Posts Feature */

.posts-page {
  border: solid;
  display: grid;
  grid-template-columns: 20% 80%;
}

.posts-container {
  height: 100vh;
  text-align: left;
}

.post-container {
  border: solid;
}

.side-nav {
  border: dotted;
}


